
html, body {
	margin: 0;
	padding: 0;
	background-color: rgb(0, 90, 163);
	overflow: auto;
	font-family: arial, sans-serif;
}

header {
	background-color: rgb(0, 78, 142);
	height: 30px;
	color: rgb(223, 233, 241);
	text-align: center;
	font-size: 10px;
}

	.page-header-links {

	}



.container {
	background-color: rgb(255, 255, 255);
	margin-top: 50px;
	margin-right: 200px;
	margin-bottom: 100px;
	margin-left: 200px;
	padding: 30px;
}

	.container-header {
		margin-bottom: 25px;
	}

	.container-header-links {
		display: inline-block;
		margin-top: 25px;
		font-size: 22px;
		word-spacing: 10px;
		color: rgb(0, 99, 171);
		float: right;
	}

	.carousel {
		height: 350px;
		background-color: yellow;
	}

	